<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
  <% if user_has_posts(@user) %>
    <%= @user.name %> has not submitted any posts yet.
  <% else %>
    <%= render @user.posts %>
  <% end %>

<h2>Comments</h2>
  <% if user_has_comments(@user) %>
    <%= @user.name %> has not submitted any comments yet.
  <% else %>
    <%= render @user.comments %>
  <% end %>

<h2>Favorites</h2>
  <% @user.favorites.each do |favorite| %>
    <div class="favorites">
      <% avatar_url = @user.avatar_url(40) %>
      <div class="pull-left fav">
        <%= image_tag avatar_url, class: 'media-object' %>
      </div>
      <div class="fav">
        <p>Title: <%= favorite.post.title %></p>
        <p>Votes: <%= favorite.post.votes.count %></p>
        <p>Comments: <%= favorite.post.comments.count %></p>
      </div>
    </div>
  <% end %>
